<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN4g7S8sspgb9FWUrOIm_ZSTNXbDIIQtw</string>
	<key>GCM_SENDER_ID</key>
	<string>281471191072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.developerTest</string>
	<key>PROJECT_ID</key>
	<string>dev-test-bdd70</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-test-bdd70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281471191072:ios:48a3d413082e5cba2d9445</string>
</dict>
</plist>